input.date {
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:260px;
}
input.date:focus {
    outline:none;
}
tr.weekend {
    background-color: #f7ecb5;
    border: 2pt solid darkorange;
}
.anchor {
    padding-top: 60px;
}