{% extends "base.html" %}


{% block content %}

        <h3>Change Password</h3>
        <div class="form-horizontal">

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <form method="POST">{% csrf_token %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <div class="row">
                            <label class="control-label col-md-2 col-md-offset-3" for="{{ field.auto_id}}">
                                    <b>{% if field.field.required %}*{% endif %} {{ field.label }}</b>
                            </label>
                            <div class="col-md-3">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <button class="btn col-md-1 col-md-offset-7" type="submit">Save</button>
            </form>
        </div>

{% endblock content %}