{% extends "base.html" %}

{% block content %}
  <hr />
  <p>Warning! This action will delete your profile and all your messages!</p>
  <a type="button" class="btn btn-danger" href="{% url "accounts_delete_profile" %}">Delete profile</a>
{% endblock %}