{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <div class="container">
        <form class="form-signin" role="form" action="{% url "accounts_login" %}" method="post">{% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            {% if error %}
                <p><strong>Your username and/or password were incorrect!</strong></p>
            {% endif %}
            <label for="username">User name:</label>
            <input type="text" name="username" value="" id="username" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Log in</button>
        </form>
    </div>

{% endblock %}