{% extends "base.html" %}

{% block content %}

    <h2>Register</h2>

    <form class="form-horizontal" action="{% url "accounts_register" %}" method="post">{% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                    {% if field.errors %}
                        <span class="help-inline">
                            {% for error in field.errors %}{{ error }}{% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br/>

        <div class="form-actions">
            <button class="btn" type="submit">Register</button>
        </div>

    </form>

{% endblock %}