{% extends "base.html" %}

{% block js %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

    <script type="text/template" id="user-list-template">
        <a href="#/new" class="btn btn-primary">New</a>
        <hr />
        <table class="table striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th><th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(users, function(user) { %>
            <tr>
                <td><%= htmlEncode(user.get('first_name')) %></td>
                <td><%= htmlEncode(user.get('last_name')) %></td>
                <td><%= htmlEncode(user.get('username')) %></td>
                <td><a class="btn" href="#/edit/<%= user.id %>">Edit</a></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="edit-user-template">
        <form class="edit-user-form">
            <legend><%= user ? 'Edit' : 'New' %> User</legend>
            <label>First Name</label>
            <input name="first_name" type="text" value="<%= user ? user.get('first_name') : '' %>">
            <label>Last Name</label>
            <input name="last_name" type="text" value="<%= user ? user.get('last_name') : '' %>">
            <label>Username</label>
            <input name="username" type="text" value="<%= user ? user.get('username') : '' %>">
            <hr />
            <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
            <% if(user) { %>
            <input type="hidden" name="id" value="<%= user.id %>" />
            <button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
            <% }; %>
        </form>
    </script>

    <script>
        function htmlEncode(value){
            return $('<div/>').text(value).html();
        }
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        var Users = Backbone.Collection.extend({
            url: '/api/v1/user',
            parse: function(response) {
                return response.objects;
            }
        });
        var User = Backbone.Model.extend({
            urlRoot: '/api/v1/user/'
        });

        var UserListView = Backbone.View.extend({
            el: '.page',
            render: function () {
                var that = this;
                var users = new Users();
                users.fetch({
                    success: function (users) {
                        var template = _.template($('#user-list-template').html(), {users: users.models});
                        that.$el.html(template);
                    }
                });
            }
        });
        var userListView = new UserListView();

        var UserEditView = Backbone.View.extend({
            el: '.page',
            events: {
                'submit .edit-user-form': 'saveUser',
                'click .delete': 'deleteUser'
            },
            saveUser: function (ev) {
                var userDetails = $(ev.currentTarget).serializeObject();
                var user = new User();
                user.save(userDetails, {
                    success: function (user) {
                        router.navigate('', {trigger:true});
                    }
                });
                return false;
            },
            deleteUser: function (ev) {
                this.user.destroy({
                    success: function () {
                        router.navigate('', {trigger:true});
                    }
                });
                return false;
            },
            render: function (options) {
                var that = this;
                if(options.id) {
                    that.user = new User({id: options.id});
                    that.user.fetch({
                        success: function (user) {
                            var template = _.template($('#edit-user-template').html(), {user: user});
                            that.$el.html(template);
                        }
                    })
                } else {
                    var template = _.template($('#edit-user-template').html(), {user: null});
                    that.$el.html(template);
                }
            }
        });
        var userEditView = new UserEditView();

        var Router = Backbone.Router.extend({
            routes: {
                "": "home",
                "edit/:id": "edit",
                "new": "edit"
            }
        });

        var router = new Router;
        router.on('route:home', function() {
            userListView.render();
        });
        router.on('route:edit', function(id) {
            userEditView.render({id: id});
        });
        Backbone.history.start();
    </script>

{% endblock js %}

{% block content %}

    <div class="container">
        <h2>Users</h2>
        <hr />
        <div class="page"></div>
    </div>

{% endblock %}