{% extends "base.html" %}
{% load staticfiles %}
{% load avatar_tags %}

{%  block css %}
    <link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'css/conversation.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/conversation.js' %}"></script>
{% endblock js %}

{% block content %}

<h3>Conversation with {{ conversation_user.first_name }} {{ conversation_user.last_name }} {% avatar conversation_user %}</h3>

<form method="POST">{% csrf_token %}
    {% for field in form %}
        {{ field }}
        {{ field.errors }}
    {% endfor %}
    <button class="btn" type="submit" style="margin-top: 10px;">Send</button>
</form>

<table id="myTable" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-row-style="rowStyle" data-url="{% url 'conversation_get_messages' id=conversation_user.id %}" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true">
    <thead>
    <tr>
        <th data-field="avatar" data-align="left" data-sortable="false" data-width="30"></th>
        <th data-field="sender" data-align="left" data-sortable="false">Sender</th>
        <th data-field="message" data-align="left" data-sortable="false">Message</th>
        <th data-field="sent" data-align="left" data-sortable="false">Sent</th>
    </tr>
    </thead>
</table>


<div id="modal_container"></div>

{% endblock %}