{% extends "base.html" %}
{% load humanize %}
{% load avatar_tags %}

{% block content %}

    <h3>Conversations</h3>

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-2 col-md-offset-10">
            <a class="pull-right" href="{% url 'create_message' %}"><button class="btn btn-success" type="button">New Message <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></a>
        </div>
    </div>

    <hr />

    {% if users %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked">
            {% for user in users %}
                <li>
                    <a href="{% url "conversation_conversation" id=user.id %}">
                        <div class="row">
                            <div class="col-md-1">
                                {% avatar user.username %}
                            </div>

                            <div class="col-md-11">
                                <div style="font-size: 20px;">{{ user.name }}
                                {% if user.unread %}
                                <span class="badge">{{ user.unread }}</span>
                                {% endif %}
                                </div>
                                <p>({{ user.date|naturaltime }})</p>
                            </div>

                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% else %}
    <p>No conversations at the moment. Click New message button to start the new conversation.</p>
    {% endif %}

{% endblock %}