<!DOCTYPE html>
{% load staticfiles %}
{% load avatar_tags %}

<html>
<head>
    <title>Simple Messaging App</title>
    <link href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url "conversation_messages" %}">Messages <b id="m_count" style="color: orangered;">unread_message_count</b></a>
            {% endif %}
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        {{ user.first_name }} {{ user.last_name }}
                        <span class="caret"></span> {% avatar user 20 %}
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li><a href="{% url 'accounts_change_password' %}">Change Password</a></li>
                          <li><a href="{% url 'avatar_change' %}">Change Your Avatar</a></li>
                          <li><a href="{% url 'accounts_delete_profile_confirm' %}">Delete My Profile</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url "accounts_logout" %}">Logout <span class="glyphicon glyphicon-off pull-right" aria-hidden="true"></span></a></li>
                      </ul>
                    </li>
                {% else %}
                    <li><a href="{% url "accounts_register" %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block css %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>

<hr/>
<footer>
    <div class="container">
        <p>&copy; Copyright 2015 :)</p>
    </div>
</footer>
<hr/>

{% block js %}
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
{% endblock js %}

</body>
</html>